<header id="header" data-plugin-options="{'stickyEnabled': false, 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': false, 'stickyStartAt': 95, 'stickySetTop': '0', 'stickyChangeLogo': false}"  class=" transparent">
    <div class="header-body">
      <div class="header-container container">
        <div class="header-row">
          <div class="header-column">
            <div class="header-logo">
              <a href="demo-shop-1.html">
                <img alt="Porto" width="111" height="50" src="assets/img/demos/shop/logo-shop-white-small.png">
              </a>
            </div>
          </div>
          <div class="header-column">
            <div class="row">
              <div class="header-nav-main">
                <nav>
                  <ul class="nav nav-pills" id="mainNav">
                    <li class="dropdown active">
                      <a class="dropdown-toggle" routerLink="/home">
                        Home
                      </a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                          <a href="demo-shop-1.html">Shop Demos</a>
                          <ul class="dropdown-menu">
                            <li><a href="demo-shop-1.html" data-thumb-preview="assets/img/demos/shop/previews/home1.jpg">Shop - Demo 1</a></li>
                            <li><a href="demo-shop-2.html" data-thumb-preview="assets/img/demos/shop/previews/home2.jpg">Shop - Demo 2</a></li>
                            <li><a href="demo-shop-3.html" data-thumb-preview="assets/img/demos/shop/previews/home3.jpg">Shop - Demo 3</a></li>
                            <li><a href="demo-shop-4.html" data-thumb-preview="assets/img/demos/shop/previews/home4.jpg">Shop - Demo 4</a></li>
                            <li><a href="demo-shop-5.html" data-thumb-preview="assets/img/demos/shop/previews/home5.jpg">Shop - Demo 5</a></li>
                            <li><a href="demo-shop-6.html" data-thumb-preview="assets/img/demos/shop/previews/home6.jpg">Shop - Demo 6</a></li>
                            <li><a href="demo-shop-7.html" data-thumb-preview="assets/img/demos/shop/previews/home7.jpg">Shop - Demo 7</a></li>
                            <li><a href="demo-shop-8.html" data-thumb-preview="assets/img/demos/shop/previews/home8.jpg">Shop - Demo 8</a></li>
                            <li><a href="demo-shop-9.html" data-thumb-preview="assets/img/demos/shop/previews/home9.jpg">Shop - Demo 9</a></li>
                            <li><a href="demo-shop-10.html" data-thumb-preview="assets/img/demos/shop/previews/home10.jpg">Shop - Demo 10</a></li>
                          </ul>
                        </li>
                        <li class="dropdown-submenu">
                          <a href="demo-shop-1.html">Shop Demos <span class="tip tip-hot">Hot!</span></a>
                          <ul class="dropdown-menu">
                            <li><a href="demo-shop-11.html" data-thumb-preview="assets/img/demos/shop/previews/home11.jpg">Shop - Demo 11</a></li>
                            <li><a href="demo-shop-12.html" data-thumb-preview="assets/img/demos/shop/previews/home12.jpg">Shop - Demo 12</a></li>
                            <li><a href="demo-shop-13.html" data-thumb-preview="assets/img/demos/shop/previews/home13.jpg">Shop - Demo 13</a></li>
                            <li><a href="demo-shop-14.html" data-thumb-preview="assets/img/demos/shop/previews/home14.jpg">Shop - Demo 14</a></li>
                            <li><a href="demo-shop-15.html" data-thumb-preview="assets/img/demos/shop/previews/home15.jpg">Shop - Demo 15</a></li>
                            <li><a href="demo-shop-16.html" data-thumb-preview="assets/img/demos/shop/previews/home16.jpg">Shop - Demo 16</a></li>
                            <li><a href="demo-shop-17.html" data-thumb-preview="assets/img/demos/shop/previews/home17.jpg">Shop - Demo 17</a></li>
                            <li><a href="demo-shop-18.html" data-thumb-preview="assets/img/demos/shop/previews/home18.jpg">Shop - Demo 18</a></li>
                            <li><a href="demo-shop-19.html" data-thumb-preview="assets/img/demos/shop/previews/home19.jpg">Shop - Demo 19</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown dropdown-mega-small">
                      <a href="demo-shop-1-category-4col.html" class="dropdown-toggle">
                        GOAT <span class="tip tip-new">New</span>
                      </a>
                      
                      <ul class="dropdown-menu">
                        <li>
                          <div class="dropdown-mega-content dropdown-mega-content-small">
                            <div class="row">
                              <div class="col-md-7">
                                <div class="row">
                                  <div class="col-md-6">
                                    <a routerLink="/goat" class="dropdown-mega-sub-title">lamb</a>
                                   
                                    <ul class="dropdown-mega-sub-nav">
                                        <div *ngFor="let product of products">
                                      <li><a routerLink="/goat">{{product.lamb[0]}}</a></li>
                                      <li><a routerLink="/goat">{{product.lamb[1]}}</a></li>
                                      <li><a routerLink="/goat">{{product.lamb[2]}}</a></li>
                                      <li><a routerLink="/goat">{{product.lamb[3]}}</a></li>
                                      <li><a routerLink="/goat">{{product.lamb[4]}}</a></li>
                                      <li><a routerLink="/goat">{{product.lamb[5]}}</a></li>
                                        </div>
                                                                            
                                    </ul>
                                  </div>
                                  <div class="col-md-6">
                                    <a routeLink="/goat" class="dropdown-mega-sub-title">goat</a>
                                    <ul class="dropdown-mega-sub-nav">
                                        <div *ngFor="let product of products">
                                      <li><a routerLink="/goat">{{product.goat[0]}}</a></li>
                                      <li><a routerLink="/goat">{{product.goat[1]}}</a></li>
                                      <li><a routerLink="/goat">{{product.goat[2]}}</a></li>
                                      <li><a routerLink="/goat">{{product.goat[3]}}</a></li>
                                      <li><a routerLink="/goat">{{product.goat[4]}}</a></li>
                                      <li><a routerLink="/goat">{{product.goat[5]}}</a></li>
                                        </div>
                                    </ul>
                                  </div>
                                </div>
                                
                              </div>
                           
                              <div class="col-md-5 mega-banner-bg">
                                <img src="assets/img/demos/shop/menu-bg.png" alt="Banner bg">
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>

                      <li class="dropdown dropdown-mega-small">
                          <a href="demo-shop-1-category-4col.html" class="dropdown-toggle">
                           CHICKEN & EGG <span class="tip tip-new">New</span>
                          </a>
                          
                          <ul class="dropdown-menu">
                            <li>
                              <div class="dropdown-mega-content dropdown-mega-content-small">
                                <div class="row">
                                  <div class="col-md-7">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <a routerLink="/goat" class="dropdown-mega-sub-title">chicken</a>
                                       
                                        <ul class="dropdown-mega-sub-nav">
                                            <div *ngFor="let product of products">
                                          <li><a routerLink="/goat">{{product.chicken[0]}}</a></li>
                                          <li><a routerLink="/goat">{{product.chicken[1]}}</a></li>
                                          <li><a routerLink="/goat">{{product.chicken[2]}}</a></li>
                                          <li><a routerLink="/goat">{{product.chicken[3]}}</a></li>
                                          <li><a routerLink="/goat">{{product.chicken[4]}}</a></li>
                                          <li><a routerLink="/goat">{{product.chicken[5]}}</a></li>
                                            </div>
                                                                                
                                        </ul>
                                      </div>
                                      <div class="col-md-6">
                                        <a routeLink="/goat" class="dropdown-mega-sub-title">egg</a>
                                        <ul class="dropdown-mega-sub-nav">
                                            <div *ngFor="let product of products">
                                          <li><a routerLink="/goat">{{product.egg[0]}}</a></li>
                                          <li><a routerLink="/goat">{{product.egg[1]}}</a></li>
                                          <li><a routerLink="/goat">{{product.egg[2]}}</a></li>
                                          <li><a routerLink="/goat">{{product.egg[3]}}</a></li>
                                          <li><a routerLink="/goat">{{product.egg[4]}}</a></li>
                                          <li><a routerLink="/goat">{{product.egg[5]}}</a></li>
                                            </div>
                                        </ul>
                                      </div>
                                    </div>
                                    
                                  </div>
                               
                                  <div class="col-md-5 mega-banner-bg">
                                    <img src="assets/img/demos/shop/menu-bg.png" alt="Banner bg">
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                    
                    
                    
                    <li class="dropdown">
                      <a class="dropdown-toggle" href="#">
                        page
                      </a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                          <a href="#">category</a>
                          <ul class="dropdown-menu">
                            <li><a href="demo-shop-1-category-2col.html">Category - 2 Columns</a></li>
                            <li><a href="demo-shop-1-category-3col.html">Category - 3 Columns</a></li>
                            <li><a href="demo-shop-1-category-4col.html">Category - 4 Columns</a></li>
                            <li><a href="demo-shop-1-category-5col.html">Category - 5 Columns</a></li>
                            <li><a href="demo-shop-1-category-6col.html">Category - 6 Columns</a></li>
                            <li><a href="demo-shop-1-category-7col.html">Category - 7 Columns</a></li>
                            <li><a href="demo-shop-1-category-8col.html">Category - 8 Columns</a></li>
                            <li><a href="demo-shop-1-category-list.html">Category - List</a></li>
                            <li><a href="demo-shop-1-category-right-sidebar.html">Rigt Sidebar</a></li>
                          </ul>
                        </li>
                        <li class="dropdown-submenu">
                          <a href="#">size</a>
                          <ul class="dropdown-menu">
                            <li><a href="demo-shop-1-category-banner-boxed-slider.html">Boxed Slider</a></li>
                            <li><a href="demo-shop-1-category-banner-boxed-image.html">Boxed Image</a></li>
                            <li><a href="demo-shop-1-category-banner-fullwidth.html">Fullwidth Image</a></li>
                          </ul>
                        </li>
                        <li class="dropdown-submenu">
                          <a href="#">details</a>
                          <ul class="dropdown-menu">
                            <li><a href="demo-shop-1-product-details.html">Product Details</a></li>
                            <li><a href="demo-shop-1-product-details2.html">Product Details 2</a></li>
                            <li><a href="demo-shop-1-product-details3.html">Product Details 3</a></li>
                            <li><a href="demo-shop-1-product-details4.html">Product Details 4</a></li>
                          </ul>
                        </li>
                        <li><a href="demo-shop-1-cart.html">Shopping Cart</a></li>
                        <li><a href="demo-shop-1-checkout.html">Checkout</a></li>
                        <li><a href="demo-shop-1-about-us.html">About Us</a></li>
                        <li class="dropdown-submenu">
                          <a href="#">Dashboard</a>
                          <ul class="dropdown-menu">
                            <li><a href="demo-shop-1-dashboard.html">Dashboard</a></li>
                            <li><a href="demo-shop-1-myaccount.html">My Account</a></li>
                          </ul>
                        </li>
                        <li class="dropdown-submenu">
                          <a href="#">Login &amp; Register</a>
                          <ul class="dropdown-menu">
                            <li><a routerLink="/login">Login</a></li>
                            <li><a routerLink="/login">Register</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle">
                        Blog
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="demo-shop-1-blog.html">Blog</a></li>
                        <li><a href="demo-shop-1-blog-post.html">Blog Post</a></li>
                      </ul>
                    </li>
                    <li class="">
                      <a href="demo-shop-1-contact-us.html">
                        Contact <span class="tip tip-hot">Hot!</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Buy Porto!
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>

              <div class="row top-row">
                <a href="#" class="mmenu-toggle-btn" title="Toggle menu">
                    <i class="fa fa-bars"></i>
                  </a>

                  <div class="header-search">
                    <a href="#" class="search-toggle"><i class="fa fa-search"></i></a>
                    <form action="#" method="get">
                      <div class="header-search-wrapper">
                        <input type="text" class="form-control" name="q" id="q" placeholder="Search..." required>
                        <select id="cat" name="cat">
                          <option value="">All Categories</option>
                          <option value="4">Fashion</option>
                          <option value="12">- Women</option>
                          <option value="13">- Men</option>
                          <option value="66">- Jewellery</option>
                          <option value="67">- Kids Fashion</option>
                          <option value="5">Electronics</option>
                          <option value="21">- Smart TVs</option>
                          <option value="22">- Cameras</option>
                          <option value="63">- Games</option>
                          <option value="7">Home &amp; Garden</option>
                          <option value="11">Motors</option>
                          <option value="31">- Cars and Trucks</option>
                          <option value="32">- Motorcycles &amp; Powersports</option>
                          <option value="33">- Parts &amp; Accessories</option>
                          <option value="34">- Boats</option>
                          <option value="57">- Auto Tools &amp; Supplies</option>
                                                </select>
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                      </div>
                    </form>
                  </div>

                  <div class="top-menu-area">
                    <a href="#">Links <i class="fa fa-caret-down"></i></a>
                    <ul class="top-menu">
                      <li><a href="demo-shop-1-myaccount.html">My Account</a></li>
                      <li><a href="#">Daily Deal</a></li>
                      <li><a href="#">My Wishlist</a></li>
                      <li><a href="demo-shop-1-blog.html">Blog</a></li>
                      <li><a routerLink="/login">Log in</a></li>
                    </ul>
                  </div>
              </div>

              <div class="row bottom-row">
                <div class="dropdowns-container">
                  <div class="header-dropdown cur-dropdown">
                    <a href="#">USD <i class="fa fa-caret-down"></i></a>

                    <ul class="header-dropdownmenu">
                      <li><a href="#">EUR</a></li>
                      <li><a href="#">USD</a></li>
                    </ul>
                  </div>

                  <div class="header-dropdown lang-dropdown">
                    <a href="#"><img src="assets/img/demos/shop/en.png" alt="English">English <i class="fa fa-caret-down"></i></a>

                    <ul class="header-dropdownmenu">
                      <li><a href="#"><img src="assets/img/demos/shop/en.png" alt="English">English</a></li>
                      <li><a href="#"><img src="assets/img/demos/shop/fr.png" alt="French">French</a></li>
                    </ul>
                  </div>

                  <div class="compare-dropdown">
                    <a href="#"><i class="fa fa-retweet"></i> Compare (2)</a>

                    <div class="compare-dropdownmenu right">
                      <div class="dropdownmenu-wrapper">
                        <ul class="compare-products">
                          <li class="product">
                            <a href="#" class="btn-remove" title="Remove Product"><i class="fa fa-times"></i></a>
                            <h4 class="product-name"><a href="demo-shop-1-product-details.html">White top</a></h4>
                          </li>
                          <li class="product">
                            <a href="#" class="btn-remove" title="Remove Product"><i class="fa fa-times"></i></a>
                            <h4 class="product-name"><a href="demo-shop-1-product-details.html">Blue Women Shirt</a></h4>
                          </li>
                        </ul>

                        <div class="compare-actions">
                          <a href="#" class="action-link">Clear All</a>
                          <a href="#" class="btn btn-primary">Compare</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="cart-dropdown">
                    <a href="#" class="cart-dropdown-icon">
                      <i class="minicart-icon"></i>
                      <span class="cart-info">
                        <span class="cart-qty">2</span>
                        <span class="cart-text">item(s)</span>
                      </span>
                    </a>

                    <div class="cart-dropdownmenu right">
                      <div class="dropdownmenu-wrapper">
                        <div class="cart-products">
                          <div class="product product-sm">
                            <a href="#" class="btn-remove" title="Remove Product">
                              <i class="fa fa-times"></i>
                            </a>
                            <figure class="product-image-area">
                              <a href="demo-shop-1-product-details.html" title="Product Name" class="product-image">
                                <img src="assets/img/demos/shop/products/thumbs/cart-product1.jpg" alt="Product Name">
                              </a>
                            </figure>
                            <div class="product-details-area">
                              <h2 class="product-name"><a href="demo-shop-1-product-details.html" title="Product Name">Blue Women Top</a></h2>

                              <div class="cart-qty-price">
                                1 X 
                                <span class="product-price">$65.00</span>
                              </div>
                            </div>
                          </div>
                          <div class="product product-sm">
                            <a href="#" class="btn-remove" title="Remove Product">
                              <i class="fa fa-times"></i>
                            </a>
                            <figure class="product-image-area">
                              <a href="demo-shop-1-product-details.html" title="Product Name" class="product-image">
                                <img src="assets/img/demos/shop/products/thumbs/cart-product2.jpg" alt="Product Name">
                              </a>
                            </figure>
                            <div class="product-details-area">
                              <h2 class="product-name"><a href="demo-shop-1-product-details.html" title="Product Name">Black Utility Top</a></h2>

                              <div class="cart-qty-price">
                                1 X 
                                <span class="product-price">$39.00</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="cart-totals">
                          Total: <span>$104.00</span>
                        </div>

                        <div class="cart-actions">
                          <a href="demo-shop-1-cart.html" class="btn btn-primary">View Cart</a>
                          <a href="demo-shop-1-checkout.html" class="btn btn-primary">Checkout</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>	
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="mobile-nav">
      <div class="mobile-nav-wrapper">
        <ul class="mobile-side-menu">
          <li><a routerLink="/home">Home</a></li>
          <li>
            <span class="mmenu-toggle"></span>
            <a href="#">Fashion <span class="tip tip-new">New</span></a>
    
            <ul>
              <li>
                <span class="mmenu-toggle"></span>
                <a href="#">Women</a>
                <ul>
                  <li>
                    <a href="#">Tops &amp; Blouses</a>
                  </li>
                  <li>
                    <a href="#">Accessories</a>
                  </li>
                  <li>
                    <a href="#">Dresses &amp; Skirts</a>
                  </li>
                  <li>
                    <a href="#">Shoes &amp; Boots</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="mmenu-toggle"></span>
                <a href="#">Men</a>
    
                <ul>
                  <li>
                    <a href="#">Accessories</a>
                  </li>
                  <li>
                    <a href="#">Watch &amp; Fashion <span class="tip tip-new">New</span></a>
                  </li>
                  <li>
                    <a href="#">Tees, Knits &amp; Polos</a>
                  </li>
                  <li>
                    <a href="#">Pants &amp; Denim</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="mmenu-toggle"></span>
                <a href="#">Jewellery <span class="tip tip-hot">Hot</span></a>
    
                <ul>
                  <li>
                    <a href="#">Sweaters</a>
                  </li>
                  <li>
                    <a href="#">Heels &amp; Sandals</a>
                  </li>
                  <li>
                    <a href="#">Jeans &amp; Shorts</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="mmenu-toggle"></span>
                <a href="#">Kids Fashion</a>
    
                <ul>
                  <li>
                    <a href="#">Casual Shoes</a>
                  </li>
                  <li>
                    <a href="#">Spring &amp; Autumn</a>
                  </li>
                  <li>
                    <a href="#">Winter Sneakers</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <span class="mmenu-toggle"></span>
            <a href="#">Pages <span class="tip tip-hot">Hot!</span></a>
    
            <ul>
              <li>
                <span class="mmenu-toggle"></span>
                <a href="#">Category</a>
                <ul>
                  <li>
                    <a href="demo-shop-1-category-2col.html">2 Columns</a>
                  </li>
                  <li>
                    <a href="demo-shop-1-category-3col.html">3 Columns</a>
                  </li>
                  <li>
                    <a href="demo-shop-1-category-4col.html">4 Columns</a>
                  </li>
                  <li>
                    <a href="demo-shop-1-category-5col.html">5 Columns</a>
                  </li>
                  <li>
                    <a href="demo-shop-1-category-6col.html">6 Columns</a>
                  </li>
                  <li>
                    <a href="demo-shop-1-category-7col.html">7 Columns</a>
                  </li>
                  <li>
                    <a href="demo-shop-1-category-8col.html">8 Columns</a>
                  </li>
                  <li>
                    <a href="demo-shop-1-category-right-sidebar.html">Right Sidebar</a>
                  </li>
                  <li>
                    <a href="demo-shop-1-category-list.html">Category List</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="mmenu-toggle"></span>
                <a href="#">Category Banners</a>
                <ul>
                  <li>
                    <a href="demo-shop-1-category-banner-boxed-slider.html">Boxed slider</a>
                  </li>
                  <li>
                    <a href="demo-shop-1-category-banner-boxed-image.html">Boxed Image</a>
                  </li>
                  <li>
                    <a href="demo-shop-1-category-banner-fullwidth.html">Fullwidth</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="mmenu-toggle"></span>
                <a href="#">Product Details</a>
                <ul>
                  <li>
                    <a href="demo-shop-1-product-details.html">Product Details 1</a>
                  </li>
                  <li>
                    <a href="demo-shop-1-product-details2.html">Product Details 2</a>
                  </li>
                  <li>
                    <a href="demo-shop-1-product-details3.html">Product Details 3</a>
                  </li>
                  <li>
                    <a href="demo-shop-1-product-details4.html">Product Details 4</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="demo-shop-1-cart.html">Shopping Cart</a>
              </li>
              <li>
                <a href="demo-shop-1-checkout.html">Checkout</a>
              </li>
              <li>
                <span class="mmenu-toggle"></span>
                <a href="#">Loign &amp; Register</a>
                <ul>
                  <li>
                    <a routerLink="/login">Login</a>
                  </li>
                  <li>
                    <a routerLink="/login">Register</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="mmenu-toggle"></span>
                <a href="#">Dashboard</a>
                <ul>
                  <li>
                    <a href="demo-shop-1-dashboard.html">Dashboard</a>
                  </li>
                  <li>
                    <a href="demo-shop-1-myaccount.html">My Account</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="demo-shop-1-about-us.html">About Us</a>
          </li>
          <li>
            <span class="mmenu-toggle"></span>
            <a href="#">Blog</a>
            <ul>
              <li><a href="demo-shop-1-blog.html">Blog</a></li>
              <li><a href="demo-shop-1-blog-post.html">Blog Post</a></li>
            </ul>
          </li>
          <li>
            <a href="demo-shop-1-contact-us.html">Contact Us</a>
          </li>
          <li>
            <a href="#">Buy Porto!</a>
          </li>
        </ul>
      </div>
    </div>